body{
    background-image: url('../imagenes/fondo.png');
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    max-width: 100%;
    height: auto;
    font-size: large;
}

h1{
    padding-top: 20px;
}

#cabecera{
    height: 300px;
}

#logoPlanetario{
    display: block;
    margin: auto;
    padding: auto;
    width: auto;
    height: auto;
}

a{
    color: rgba(255, 255, 255, 0.685);
    text-decoration-line: none;
}

/* --- Banner Historia --- */


.row {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-gap: 10px;
    grid-auto-rows: minmax(100px, auto);
}


.image {
    width: 100%;
    height: 100%;
}

.right-image {
    grid-column-start: 8;
    grid-column-end: 13;
}

.left-image {
    grid-column-start: 1;
    grid-column-end: 6;
}

.info-container {
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 30px;
    padding-right: 30px;
    color: var(--sec-color);
    color: rgba(255, 255, 255, 0.685);
    text-align: justify;
}

.right-info {
    grid-column-start: 6;
    grid-column-end: 13;
}

.left-info {
    grid-column-start: 1;
    grid-column-end: 8;
}

.componente {
    background-color: rgba(0, 0, 0, 0.322);
    position: relative;
    margin-right: 30px;
    margin-left: 30px;
    margin-bottom: 50px;
}

#banner {
    margin-top: 100px;
}

.textoCentrado {
    text-align: center;
    color: rgba(255, 255, 255, 0.685);
}

/* --- Boton --- */

.bnt-container {
    position: relative;
    margin-top: 50px;
}

.btn {
    font-size: 20px;
    width: 300px;
    height: 50px;
    border-style: solid;
    border-color: var(--main-color);
    border-width: 5px;
    border-radius: 30px;
    color: var(--sec-color);
    background-color: var(--main-color);
    transition: 0.5s;
}

.btn:hover {
    border-style: solid;
    border-width: 5px;
    background-color: rgba(0, 0, 0, 0);
    color: var(--sec-color);
    border-color: var(--sec-color);
}

/* --- Muestra de galeria --- */

.slideshow-container {
    height: 480px;
    max-width: 95%;
    position: relative;
    margin: auto;
}

.mySlides {
    display: none;
}

.imgGaleria{
    grid-column-start: 5;
    grid-column-end: 9;
    width: 100%;
    max-width: 100%;
    height: auto;
    border: 10px solid rgba(221, 221, 221, 0.425);
    border-radius: 4px;
}

/* --- Botones prev y next --- */

.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}


/* --- Puntos --- */

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.carrusel-active,
.dot:hover {
    background-color: #717171;
}

/* --- Videos --- */

.galeriaVideos{
    height: 430px;
}

#vid1{
    grid-column-start: 1;
    grid-column-end: 5;
}

#vid2{
    grid-column-start: 5;
    grid-column-end: 9;
}

#vid3{
    grid-column-start: 9;
    grid-column-end: 13;
}

#mapa{
    grid-column-start: 5;
    grid-column-end: 9;
}

.mapa{
    height: 600px;
}

/* --- Parrafos historia --- */

.parrafoHistoria{
    padding-top: 40px;
    font-size: x-large;
}

.titulo{
    text-align: center;
    padding-top: 30px;
    font-size: 40px;
    color: rgba(255, 255, 255, 0.685);
}

#textoTitulo{
    height: 100px;
    background-color: rgba(0, 0, 0, 0.281);
}

#parrafo1{
    margin-top: 20px;
}
